/* MAIN */

#root{
  background-color: #2a2a2a;
}

.header{
  font-family: Calibri;
}

.font {
  font-family: Calibri;
  color: #cacaca !important;
}

.welcomeHeader{
  text-align: center;
  color: #cacaca;
  font-family: Calibri;
}

.headerMargin {
  margin-top:2rem;
}

p {
  color: #cacaca;
}

label {
  color: #cacaca;
}

/*NAVBAR CSS */

.navBarStyle{
  font-family: Calibri;
  border-bottom: 2px solid #cacaca;
  background-color: #2a2a2a;
  color: #cacaca; 
}

.custom-toggler.navbar-toggler {
  background-color: #cacaca !important;
} 

.navbar-default .navbar-toggle .icon-bar {
  color: #cacaca !important;
}

.borderBottom {
  border-bottom: 2px solid #cacaca;  
}

/* FOOTER */

.the-footer-copyright{
  color: #cacaca;
}

/* WELCOME */

.jumbotron {
  background: transparent !important;
  background-color: #cacaca;
}



/* CARD CSS */

.card-body {
  background-color: #2a2a2a;
}

.card-text {
  color: #cacaca;
}

.card-subtitle {
  color: #cacaca;
}

.card-title {
  color: #cacaca;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.projectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2a2a2a;
}

.projectContainer:hover .projectOverlay {
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* GENRAL */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}