/* MAIN */

#root{
  background-color: #2a2a2a;
}

.header{
  font-family: Calibri;
}

hr {
  background-color: #cacaca !important;
}

.font {
  font-family: Calibri;
  color: #cacaca !important;
}

.welcomeHeader{
  text-align: center;
  color: #cacaca;
  font-family: Calibri;
}

.headerMargin {
  margin-top:2rem;
}

p {
  color: #cacaca;
}

label {
  color: #cacaca;
}

/*NAVBAR CSS */

.menu-item {
  font-family: Calibri;
  color: #2a2a2a !important;
  font-size: 25px;
  font-weight: bold;
  cursor: crosshair;
}

.borderBottom {
  border-bottom: 2px solid #cacaca;  
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #cacaca;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #2a2a2a;
}

/* General sidebar styles */
.bm-menu {
  background: #cacaca;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-menu-wrap {
  bottom: 0;
  left: 0;
}

/* FOOTER */

.the-footer-copyright{
  color: #cacaca;
}

/* WELCOME */

.jumbotron {
  background: transparent !important;
  background-color: #cacaca;
}



/* CARD CSS */

.card-body {
  background-color: #2a2a2a;
}

.card-text {
  color: #cacaca;
}

.card-subtitle {
  color: #cacaca;
}

.card-title {
  color: #cacaca;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.projectOverlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #2a2a2a;
}

.projectContainer:hover .projectOverlay {
  opacity: 1;
}

.overlayText {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

/* GENRAL */

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}